body { 
 	margin-bottom: 90px;
}


/* this is the css for login form */
.login_form{
	background-color: #f0f0f0;
	margin-top: 20%;
	margin-left: 25%;
	width: 45%;
	padding-top: 30px;
	padding-bottom: 50px;
	border-radius: 20px;
}




.title_text{
	text-align: center;
}

.error{
	color: red;
}











/* Below here is the code START for footer.php Zia*/



























/* Above here is the code END for footer_page.php */









/* Below here is the code START for Main_page.php Zia*/

.welcome_text{
	margin-top: 70px;
}
























/* Above here is the code END for Main_page.php */